#root
{
	position: relative;
	background-color: #02000e;


	&::before
	{
		content: "";
		top: -250px;
		left: -250px;
		width: 500px;
		height: 500px;
		opacity: 25%;
		display: block;
		position: absolute;
		pointer-events: none;
		background-image: radial-gradient(circle, #14c3fe 0%, transparent 50%);
	}
}

#modal
{
	position: fixed;
	inset: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.75);
	transition-duration: 250ms;
	transition-property: opacity, transform;

	@keyframes shake
	{
		0%
		{
		}

		10%, 90%
		{
			transform: translate3d(-1px, 0, 0);
		}

		20%, 80%
		{
			transform: translate3d(2px, 0, 0);
		}

		30%, 50%, 70%
		{
			transform: translate3d(-4px, 0, 0);
		}

		40%, 60%
		{
			transform: translate3d(4px, 0, 0);
		}
	}
	&:has(*)
	{
		opacity: 100%;
		pointer-events: all;
	}
	&:not(:has(*))
	{
		opacity: 0%;
		pointer-events: none;
	}
	> *
	{
		border: 1.5px solid transparent;
		box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
	}
	&.shake
	{
		> *
		{
			animation: shake 1s infinite;
			border-color: tomato;
		}
	}
}
