@import url("https://cdn.jsdelivr.net/npm/reset-css/reset.min.css");

* {
	box-sizing: border-box;
}

:root {
	font-family: Pretendard !important;
	--orange: #f96d69;
	--black1: #02000e;
	--black2: #181d26;
	--black3: #1b1b1b;
	--gray1: #67666e;
	--gray2: #828282;
	--gray3: #a3a5a8;
	--white1: #8c92ab;
	--white2: #f7f7f8;
	--white3: #f6f6f8;
	--pink: #fe5493;
	--brand: linear-gradient(to right, #f77063, #fe5790);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--gray3);
	&:hover {
		background: gray;
	}
}

::-webkit-scrollbar-track {
	background: #02000e;
}

html,
body,
#root {
	width: 100%;
	user-select: none;
	touch-action: none;
}

button {
	cursor: pointer;
	font-family: Pretendard;
}

/* desktop */
@media screen and (1200px <= width) {
	.hide-on-pc {
		display: none !important;
	}
}
/* tablet */
@media screen and (768px <= width < 1200px) {
	.hide-on-tablet {
		display: none !important;
	}
}
/* mobile */
@media screen and (375px <= width < 768px) {
	.hide-on-mobile {
		display: none !important;
		border-radius: 24px;
	}
}
